p {
  color: rgba(117, 124, 53, 0.185);
  font-family: Fredoka, sans-serifn;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  line-height: 25px;
}
nav {
  font-size: 20px;
}
div {
  display: inline-block;
  border-left: 6px;
  margin-left: 6px;
}
div:hover {
  border-left: 6px solid red;
  margin: 0;
}
/* kad nemirgetu islaikyti margin */
