body {
  border: 2px solid gray;
  background: gainsboro;
}
header {
  border: 2px solid gray;
  background: gainsboro;
}
nav {
  border: 2px solid gray;
  font-size: 20px;
  padding: 15px 0;
}
article {
  border: 2px solid gray;
  width: 50%;
  float: left;
  height: 200px;
}
aside {
  border: 2px solid gray;
  float: right;
  width: 400px;
  height: 150px;
  text-align: justify;
  margin: 10px 200px 0;
}
h1 {
  border: 3px double gray;
}
h2 {
  border: 1px solid gray;
}
p {
  border: 1px solid gray;
  text-align: justify;
}
a {
  border: 1px solid gray;
  padding: 5px;
  margin-left: 6px;
  border-left: 6px;
}
a:hover {
  border-left: 6px solid rgb(73, 161, 208);
  margin: 0;
}
img {
  width: 1610px;
  height: 200px;
}
div {
  display: block;
  border-left: 6px;
  margin-left: 6px;
}
.logo {
  width: 150px;
}

/* kad nemirgetu islaikyti margin */
