body {
  border: 2px solid gray;
  background: gainsboro;
}
header {
  border: 2px solid gray;
  background: gainsboro;
}
nav {
  border: 2px solid gray;
  font-size: 20px;
  padding: 15px 0;
}
article {
  border: 2px solid gray;
  width: 50%;
  height: 400px;
  float: left;
}
aside {
  border: 2px solid gray;
  float: right;
  width: 45%;
  height: 190px;
  text-align: justify;
  margin: 10px 20px 0;
}
h1 {
  border: 3px double gray;
}
h2 {
  border: 1px solid gray;
}
p {
  border: 1px solid gray;
  text-align: justify;
}
a {
  border: 1px solid gray;
  padding: 5px;
  margin-left: 6px;
  border-left: 6px;
}
a:hover {
  border-left: 6px solid rgb(73, 161, 208);
  margin: 0;
}
.picture {
  width: 100vw;
  height: 15vh;
  background-image: url(https://i.pinimg.com/originals/70/6c/6a/706c6aa297207e719f0c39cacbc61d09.png),
    linear-gradient(
      109.6deg,
      rgb(81, 157, 154) 11.2%,
      rgb(154, 214, 212) 55.4%,
      rgb(235, 233, 121) 100.2%
    );
  background-size: contain;
}
.news {
  width: 100%;
  height: 150px;
}
