* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  background-color: #3e497a;
}
/* kad paslinkus h1 į dešinę, spalva būtų vienoda  */
h1,
h2,
p,
nav {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  padding: 2rem;
  font-size: 3rem;
  background-color: #3e497a;
  color: #f0f0f0;
  transition: margin 1s ease-in-out;
}
h1:hover {
  margin-left: 4rem;
}
h2 {
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  color: #f0f0f0;
  text-align: center;
}
nav {
  padding: 2rem;
  background-color: #f1d00a;
  font-size: 2rem;
}
a {
  width: 10rem;
  padding: 0.5rem;
  margin-right: 10rem;
  text-decoration: none;
  transition: border-bottom 0.5s ease-in-out;
}
a:hover {
  border-bottom: 0.5rem solid #3e497a;
  color: #3e497a;
  font-weight: bolder;
}
div {
  margin: 1rem;
  width: 10rem;
  height: 10rem;
}
.column {
  float: left;
  width: 21vw;
}
#width {
  background: #3e497a;
  transition: width 2s;
}
#width:hover {
  width: 20rem;
}
#width_height {
  background: #f1d00a;
  transition: width 1s, height 1s;
}
#width_height:hover {
  width: 15rem;
  height: 15rem;
}
#cubic_bezier {
  background: #3e497a;
  transition: width 1s cubic-bezier(0.63, 0.045, 0.045, 0.655),
    height 1s cubic-bezier(0.63, 0.045, 0.045, 0.655);
}
#cubic_bezier:hover {
  width: 20rem;
  background-color: #a2a6de;
}
#background {
  background: #f1d00a;
  transition: background 1s ease;
}
#background:hover {
  background: #3e497a;
}
#padding {
  background: #3e497a;
  transition: all 1s ease-in-out;
}
#padding:hover {
  padding: 10rem;
  background: #f1d00a;
}
#translate {
  background-color: #085e7d;
  transform: translate(4rem, 4rem);
}
#rotate {
  background-color: #008e89;
  transform: rotate(270deg);
}
/* jei norim vertikaliai rašyti */
#scale {
  background-color: #ffd32d;
  transform: scale(2, 1.5);
}
#move_translate {
  background-color: #085e7d;
  transition: all 1s ease-in-out;
}
#move_translate:hover {
  background-color: #085e7d;
  transform: translate(4rem, 4rem);
}
#move_rotate {
  background: #008e89;
  transition: all 2s ease;
}
#move_rotate:hover {
  background: #008e89;
  transform: rotate(270deg);
}
#move_scale {
  background-color: #ffd32d;
  transition: all 1s ease-out;
}
#move_scale:hover {
  background-color: #ffd32d;
  transform: scale(2, 1.5);
}
#background_color {
  background-color: #ffd32d;
  animation-name: background;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes background {
  0% {
    background-color: #d6b12b;
  }
  25% {
    background-color: #008e89;
  }
  50% {
    background-color: #085e7d;
  }
  75% {
    background-color: #008e89;
  }
  100% {
    background-color: #bfc839;
  }
}
#color_circle {
  background-color: #008e89;
  position: relative;
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: 3;
  /* kiek kartu kartosis */
  animation-direction: alternate;
  /* pradzioj i prieki, paskui atgal */
  animation-timing-function: ease-out;
}
@keyframes circle {
  0% {
    background-color: #ffd32d;
    left: 0;
    top: 0;
  }
  25% {
    background-color: #008e89;
    left: 5rem;
    top: 0;
  }
  50% {
    background-color: #085e7d;
    left: 5rem;
    top: 5rem;
  }
  75% {
    background-color: #008e89;
    left: 0;
    top: 5rem;
  }
  100% {
    background-color: #ffd32d;
    left: 0;
    top: 0;
  }
}
#windows1 {
  background-color: #f0652a;
  width: 3rem;
  height: 3rem;
}
#windows2 {
  background-color: #8cbd01;
  width: 3rem;
  height: 3rem;
}
#windows3 {
  width: 3rem;
  height: 3rem;
  background-color: #40aee9;
}
#windows4 {
  width: 3rem;
  height: 3rem;
  background-color: #f7bd01;
}
