@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  width: 9vw;
  height: 18vh;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  filter: invert(1);
}
h2,
p {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #d55b3e;
  font-weight: bold;
  text-align: center;
}
p {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}
th {
  width: 0.5rem;
}
#random_solid {
  background-color: #8f3f36;
}
#apple_pay {
  background-color: #bf8b42;
}
#user_solid {
  background-color: #1ea1ba;
}
#university_solid {
  background-color: #6e6e6e;
}
#number1 {
  border: 0.5rem solid #66bfbf;
  border-radius: 50%;
}
