@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  overflow: hidden;
}
li {
  display: inline-block;
}
img {
  width: 18vw;
  height: 25vh;
  padding: 1rem;
  margin: 3rem;
}
h2,
p {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #d55b3e;
  font-weight: bold;
  text-align: center;
}
p {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}
th {
  width: 0.5rem;
}
#random_solid {
  background-color: #66bfbf;
}
#apple_pay {
  background-color: #4f81c7;
}
#user_solid {
  background-color: #d55b3e;
}
#university_solid {
  background-color: grey;
}
