* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica;
}
body,
header,
nav,
footer,
.container {
  background-color: rgba(41, 117, 250, 255);
  color: white;
}
main {
  display: flex;
  justify-content: space-evenly;
  margin: 0 1rem;
  background-color: white;
  color: black;
  height: 70vh;
}
aside,
section {
  padding: 0 2rem;
  margin: 3rem;
  line-height: 1.5;
}
article {
  padding: 0 0 2rem 0;
}
.footer,
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-bottom: 0.2rem solid rgb(36, 108, 228);
}
nav {
  padding: 2rem;
}
h1 {
  font-size: 2rem;
  font-weight: lighter;
}
h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.3;
}
img {
  width: 2rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
}
.nav1 {
  margin: 0 2rem;
}
.article,
li {
  font-size: 1.5rem;
}
.footer {
  margin: 1rem;
  padding-bottom: 0.5rem;
}
.copyright {
  padding-top: 1rem;
  background-color: rgba(41, 117, 250, 255);
}
.fb {
  filter: invert(1);
}
.in {
  filter: invert(1);
}
.twitter {
  filter: invert(1);
}
.youtube {
  filter: invert(1);
  width: 3rem;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: center;
  border-bottom: 0.2rem solid rgb(36, 108, 228);
}
.item {
  width: 25%;
  font-size: 2em;
  text-align: center;
}
#aside_1 {
  width: calc(100% / 8 * 1);
}
#section_1 {
  width: calc(100% / 8 * 5);
}
#aside_2 {
  width: calc(100% / 8 * 2);
}
