* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body,
footer {
  background-color: #c65d7b;
}
nav {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 10vh;
  color: white;
}
main {
  display: grid;
  grid-template-columns: 15% 50% 15%;
  justify-content: space-evenly;
  height: 70vh;
  background-color: white;
  padding-top: 1rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}
article {
  text-indent: 4rem;
  /* atitraukia pirmą eilutę nuo krašto */
}
article,
aside > p {
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: justify;
}
footer {
  display: grid;
  color: white;
  row-gap: 0.5rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
}
img {
  width: 3rem;
  filter: invert(1);
  border-radius: 0.5rem;
}
.aside2 {
  font-size: 1.5rem;
  line-height: 1.7;
}
.find_us {
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
  padding-top: 0.3rem;
}
.details,
.logo {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 1rem;
}
.details {
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  border-bottom: 0.2rem solid #a1425c;
  padding-bottom: 0.3rem;
}
.details p {
  font-size: 1.2rem;
}
.details h3 {
  font-size: 1.5rem;
}
.logo {
  justify-content: center;
  column-gap: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid #a1425c;
}
.copyright {
  text-align: center;
  padding-bottom: 0.5rem;
}
.copyright p {
  font-size: 1.1rem;
}
