* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
nav,
footer {
  background-color: #c65d7b;
}
nav {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 10vh;
  color: white;
  top: 0;
  position: sticky;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-evenly;
  grid-column-gap: 5rem;
  background-color: white;
  align-content: center;
  padding: 1rem;
  padding-bottom: 19rem;
}
aside,
.article1 {
  height: min(40vh, auto);
  padding: 1rem;
}
article {
  text-indent: 4rem;
  /* atitraukia pirmą eilutę nuo krašto */
}
.aside2 {
  font-size: 1.5rem;
  line-height: 1.7;
}
li {
  list-style: none;
}
article,
aside > p {
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: justify;
}
footer {
  display: grid;
  color: white;
  row-gap: 0.5rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
}
img {
  width: 3rem;
  filter: invert(1);
  border-radius: 0.5rem;
}
.find_us {
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
  padding-top: 0.3rem;
}
.details,
.logo {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 1rem;
}
.details {
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  border-bottom: 0.2rem solid #a1425c;
  padding-bottom: 0.3rem;
}
.details p {
  font-size: 1.2rem;
}
.details h3 {
  font-size: 1.5rem;
}
.logo {
  justify-content: center;
  column-gap: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid #a1425c;
}
.copyright {
  text-align: center;
  padding-bottom: 0.5rem;
}
.copyright p {
  font-size: 1.1rem;
}
@media only screen and (max-width: 1000px) and (min-width: 601px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0rem;
  }
  aside,
  .article1 {
    border: 0.1rem solid gray;
  }
  .aside1 {
    order: 2;
  }
  .article1 {
    grid-column: 1 / span2;
    order: 1;
    text-indent: 0;
  }
  .aside2 {
    order: 3;
  }
}
@media only screen and (max-width: 600px) {
  main {
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;
  }
  aside,
  .article1 {
    border: 0.1rem solid gray;
  }
  .aside1 {
    order: 2;
    height: fit-content;
  }
  .article1 {
    order: 1;
    text-indent: 0;
  }
  .aside2 {
    order: 3;
    height: fit-content;
  }
}

/* USE MAX-WIDTH, MIN-WIDTH */
/* if @media MIN-WIDTH mean MOBILE FIRST tai galim tiesiog istrinti pries tai layout savybes ir ideti i media */
/* avoid too many breakpoints */
/* font-size:clamp (2rem, 1rem+, 4rem)  responsive reguoja clamp galim ir paddingui naudoti. Clamp veikia tik su 3reiksmem -minimum-max ir ideal size labai naudinga for font sizes
/* width: min(500px, 70%) ekvivalentas width: 70%, max-width: 500px you can do math there*/
