h1 {
  text-align: center;
}
h2 {
  color: lightskyblue;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
#big {
  font-size: 22px;
}
.outer .inner {
  background: goldenrod;
}
/* pritaikys tik antram */
.inner.bold {
  font-weight: bolder;
}
div > div {
  text-decoration: underline;
  background: lightsalmon;
  font-size: 18px;
}
/* tetis div pakeis visus div vaikus */
div ~ p {
  font-size: 20px;
  font-weight: bold;
  background: gray;
}
/* pakeis visus <p> einančius po div, bet to pačio tėvo */
div + p {
  color: white;
}
a {
  font-size: 20px;
}
a:visited {
  color: blue;
}
a:hover {
  cursor: pointer;
  background: grey;
}
p:nth-child(5) {
  background: pink;
}
/* to pačio tėvo 5-as vaikas */
